<h1>Full Lists</h1>
<h2>Playlists</h2>
<ul>
<% @lists.each do |list| %>
  <li><%= link_to "#{list.name}", list_path(list) %></li>
<% end %>
</ul>

<%= link_to "Create a new list", new_list_path, class: "btn btn-primary" %>
<br>

<h2>Movie library</h2>
<ul>
<% @movies.each do |movie| %>
  <li><%= movie.title %></li>
<% end %>
</ul>
