<h1>New List</h1>
<%= simple_form_for @list do |f| %>
  <%= f.input :name, placeholder: "Name of your Playlist" %>
  <%= f.submit %>
<% end %>

<%= link_to "back to home", lists_path, class:"btn btn-secondary"  %>
